Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

ANS:-

In [ ]:
import pandas as pd

In [5]:
data = {"study_time" :[6,5,7,8,8,9,],
        "exam_score:":[50,60,70,80,85,90]}
df = pd.DataFrame(data)

In [6]:
df.head()

   study_time  exam_score:
0           6           50
1           5           60
2           7           70
3           8           80
4           8           85

In [12]:
#to fing pearson corr
df.corr(method = 'pearson')

             study_time  exam_score:
study_time     1.000000     0.903704
exam_score:    0.903704     1.000000

the values are postive hence study and time are positively correlated as 
the value of study_time increase exam_score also increses

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

ANS:-

In [14]:
import pandas as pd
from scipy.stats import spearmanr

# Create a DataFrame 
data = {
    'sleep_duration': [7, 6, 8, 5, 7, 6, 8, 5, 6, 7],
    'job_satisfaction': [8, 6, 9, 5, 7, 6, 9, 4, 7, 8]
}

df = pd.DataFrame(data)
df.corr(method = 'spearman')

                  sleep_duration  job_satisfaction
sleep_duration          1.000000          0.962199
job_satisfaction        0.962199          1.000000

the values are postive hence study and time are positively correlated as 
the value of study_time increase exam_score also increses

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

ANS:-

In [ ]:
import pandas as pd
import numpy as np

In [16]:
np.random.seed(42)
exercise_hours = np.random.randint(1, 10, size=50)  # Generating random data for exercise hours
bmi = np.random.uniform(18.5, 35, size=50)  # Generating random data for BMI

data = {
    'exercise_hours': exercise_hours,
    'bmi': bmi
}

df = pd.DataFrame(data)

In [17]:
df

    exercise_hours        bmi
0                7  30.963463
1                4  25.515072
2                8  21.931037
3                5  27.867055
4                7  19.016669
5                3  32.397699
6                7  25.920943
7                8  25.019979
8                5  33.789871
9                4  30.499988
10               8  23.887923
11               8  27.912326
12               3  27.093765
13               6  34.359338
14               5  32.434809
15               2  30.830782
16               8  27.404920
17               6  28.181394
18               2  34.426713
19               5  28.516065
20               1  23.053987
21               6  23.388513
22               9  21.226904
23               1  18.758001
24               3  25.486124
25               7  25.015545
26               4  23.342555
27               9  18.732317
28               3  21.780900
29               5  30.237142
30               3  31.537896
31               7  28.498340
32               5  33.783964
33               9  29.242771
34               7  33.596835
35               2  32.525637
36               4  25.915936
37               9  20.074267
38               2  24.618501
39               9  29.535881
40               5  29.487719
41               2  28.256413
42               4  23.032910
43               7  27.760517
44               8  24.818293
45               3  34.533250
46               1  32.507078
47               4  30.408537
48               2  22.393751
49               8  22.725127

In [19]:
df.corr(method ='pearson')

                exercise_hours       bmi
exercise_hours        1.000000 -0.235917
bmi                  -0.235917  1.000000

In [20]:
df.corr(method ='spearman')

                exercise_hours       bmi
exercise_hours        1.000000 -0.239383
bmi                  -0.239383  1.000000

in both the cases excercise_hours is negatively correlated with each other and 
both results as same Both correlations are equally strong

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

ANS:-

In [ ]:
import numpy as np
import pandas as pd

In [22]:
np.random.seed(42)
tv_hours = np.random.randint(1, 6, size=50)  # Generating random data for TV hours
physical_activity = np.random.randint(1, 11, size=50)  # Generating random data for physical activity

# Create a DataFrame
data = {
    'tv_hours': tv_hours,
    'physical_activity': physical_activity
}

df = pd.DataFrame(data)

In [23]:
df.head()

   tv_hours  physical_activity
0         4                  7
1         5                  8
2         3                  3
3         5                  1
4         5                  4

In [24]:
df.corr(method = 'pearson')

                   tv_hours  physical_activity
tv_hours           1.000000           0.117269
physical_activity  0.117269           1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

ANS:-

In [43]:
import pandas as pd
import numpy as np

# Given data
data = {
    'Age': [25, 42, 37, 19, 31, 28],
    'Preference': ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
}

# Create a DataFrame
df = pd.DataFrame(data)

In [54]:
df.head()

   Age    Preference
0   25          Coke
1   42         Pepsi
2   37  Mountain Dew
3   19          Coke
4   31         Pepsi

In [45]:
df['Preference'].mode()

0    Coke
Name: Preference, dtype: object

In [46]:
df.describe()

             Age
count   6.000000
mean   30.333333
std     8.286535
min    19.000000
25%    25.750000
50%    29.500000
75%    35.500000
max    42.000000

coke is more famous in wide range of ages

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

ANS:-

In [55]:
import numpy as np

#data: sales calls per day and sales per week
np.random.seed(42)
sales_calls_per_day = np.random.randint(10, 50, size=30) #data for sales calls per day
sales_per_week = np.random.randint(1, 10, size=30) # data for sales per week
# Create a DataFrame
data = {
    'sales_calls_per_day': sales_calls_per_day,
    'sales_per_week': sales_per_week
}
df = pd.DataFrame(data)

In [56]:
df.head()

   sales_calls_per_day  sales_per_week
0                   48               3
1                   38               7
2                   24               4
3                   17               9
4                   30               3

In [57]:
df.corr(method = 'pearson')

                     sales_calls_per_day  sales_per_week
sales_calls_per_day             1.000000       -0.243803
sales_per_week                 -0.243803        1.000000